
<div class="inscription-container">
  @if (inscriptionError) {
    <div @slideFromTop class="warning-box error">
      <h3>Une erreur est survenue ...</h3>
      <p>{{ inscriptionError.message }}</p>
    </div>
  }

  
  <form
    [formGroup]="inscriptionForm"
    class="inscription-form"
    (submit)="inscription()"
  >
  <button class="back-button" (click)="backStep()">
    <i class="fa fa-arrow-left"></i>&nbsp;Étape précédente
  </button>
  
  <div *ngIf="stepInscription === 1">
    <p>Saisissez votre adresse email ou votre numéro de téléphone</p>
    <div class="input-container_mail">
      <input
        [ngClass]="{ invalid: isEmailInvalid(), valid: isEmailValid() }"
        placeholder="Email"
        type="email"
        formControlName="email"
      />
      <div class="status-indicator" [ngClass]="{ 'invalid-status': isEmailInvalid(), 'valid-status': isEmailValid() }">
        <i *ngIf="isEmailInvalid()" class="fas fa-times"></i> <!-- Crois rouge -->
        <i *ngIf="isEmailValid()" class="fas fa-check"></i>  <!-- Coche verte -->
      </div>
    </div>
    <p *ngIf="emailControl?.hasError('required') && emailControl?.touched" class="error">
      L'email est requis.
    </p>
    <p *ngIf="emailControl?.hasError('email') && emailControl?.touched" class="error">
      L'email n'est pas valide.
    </p>
  </div>
  
  
  <!-- <a href="https://www.flaticon.com/free-icons/account" title="account icons">Account icons created by Shashank Singh - Flaticon</a> -->

    <div *ngIf="stepInscription === 2">
      <div class="content-container">
        <div class="image-container">
          <img src="../../../assets/people.png"/>
        </div>
        <p>{{ getEmail() }}</p>
      </div>
      <h2>Renseignez votre identité</h2>
      <h4>Identité</h4>
      <div class="gender-selection">
        <label class="gender-option">
          <input type="radio" name="gender" [value]="'Homme'" formControlName="gender" />
          <span class="gender-button homme">Homme</span>
        </label>
        <label class="gender-option">
          <input type="radio" name="gender" [value]="'Femme'" formControlName="gender" />
          <span class="gender-button femme">Femme</span>
        </label>
      </div>
      <div class="input-container_text">
        <div class="input-wrapper">
          <input
            [ngClass]="{ invalid: isInvalidField('firstName'), valid: isValidField('firstName') }"
            placeholder="Prénom"
            type="text"
            formControlName="firstName"
          />
          <div class="status-indicator" [ngClass]="{ 'invalid-status': isInvalidField('firstName'), 'valid-status': isValidField('firstName') }">
            <i *ngIf="isInvalidField('firstName')" class="fas fa-times"></i> <!-- Crois rouge -->
            <i *ngIf="isValidField('firstName')" class="fas fa-check"></i>  <!-- Coche verte -->
          </div>
        </div>

        <div class="input-wrapper">
          <input
            [ngClass]="{ invalid: isInvalidField('lastName'), valid: isValidField('lastName') }"
            placeholder="Nom"
            type="text"
            formControlName="lastName"
          />
          <div class="status-indicator" [ngClass]="{ 'invalid-status': isInvalidField('lastName'), 'valid-status': isValidField('lastName') }">
            <i *ngIf="isInvalidField('lastName')" class="fas fa-times"></i> <!-- Crois rouge -->
            <i *ngIf="isValidField('lastName')" class="fas fa-check"></i>  <!-- Coche verte -->
          </div>
        </div>
      </div>
      <h4>Date de naissance</h4>
      <div class="input-container_text">
        <div class="input-wrapper">
          <input
            [ngClass]=""
            placeholder="jj/mm/aaaa"
            maxlength="10" 
            type="text"
            formControlName="birthDate"
            (input)="formatBirthDate($event)"
          />
        </div>
      </div>
    </div>



    <div *ngIf="stepInscription === 3">
      <div class="input-wrapper">
        <input
          [ngClass]="{ invalid: isInvalidField('password') }"
          placeholder="Mot de passe"
          type="password"
          formControlName="password"
        />
      </div>
      
    </div>
    <div class="progress-bar">
      <div class="progress" [style.width]="(stepInscription / 4) * 100 + '%'"></div>
    </div>
    <button (click)="nextStep()">Continuer</button>
      <!-- <input 
      type="checkbox" 
      id="acceptTerms"
      [(ngModel)]="acceptTerms"
      (change)="onTermsChange()" 
      required
    />
   
    <p>{{acceptTerms}}</p>
      <button class="btn-1" type="submit" [disabled]="!acceptTerms">
        @if (chargementEnCours) {
          <div class="loader"></div>
        } @else {
          <h3>Inscription</h3>
        }
      </button>
      <div class="ou-ligne">
        <div class="ligne"></div>
        <p>ou</p>
        <div class="ligne"></div>
      </div>
      <a [routerLink]="['/connexion']">se connecter</a>
      <button (click)="backStep()">Précédent</button>
  </form>
</div>
-->


