<div class="inscription-container">
  @if (inscriptionError) {
    <div @slideFromTop class="warning-box error">
      <h3>Une erreur est survenue ...</h3>
      <p>{{ inscriptionError.message }}</p>
    </div>
  }

  
  
  <!-- Barre de progression -->
  <div class="progress-bar">
    <div class="progress" [style.width]="(stepInscription / 4) * 100 + '%'"></div>
  </div>

  <form
    [formGroup]="inscriptionForm"
    class="inscription-form"
    (submit)="inscription()"
  >
    <div *ngIf="stepInscription === 1">
      <input
        [ngClass]="{ invalid: isInvalidField('email') }"
        placeholder="Email"
        type="email"
        formControlName="email"
      />
      <button (click)="nextStep()">Continuer</button>
      <button (click)="backStep()">Précédent</button>
    </div>

    <div *ngIf="stepInscription === 2">
      <input
        [ngClass]="{ invalid: isInvalidField('firstName') }"
        placeholder="Prénom"
        type="text"
        formControlName="firstName"
      />
      <input
        [ngClass]="{ invalid: isInvalidField('lastName') }"
        placeholder="Nom"
        type="text"
        formControlName="lastName"
      />
      <input
        [ngClass]=""
        placeholder="Date de naissance"
        type="text"
        formControlName="birthDate"
      />
      <button (click)="nextStep()">Continuer</button>
      <button (click)="backStep()">Précédent</button>
    </div>

    <div *ngIf="stepInscription === 3">
      <input
        [ngClass]="{ invalid: isInvalidField('password') }"
        placeholder="Mot de passe"
        type="password"
        formControlName="password"
      />
      <button (click)="nextStep()">Continuer</button>
      <button (click)="backStep()">Précédent</button>
    </div>
      <!-- <input 
      type="checkbox" 
      id="acceptTerms"
      [(ngModel)]="acceptTerms"
      (change)="onTermsChange()" 
      required
    />
   
    <p>{{acceptTerms}}</p>
      <button class="btn-1" type="submit" [disabled]="!acceptTerms">
        @if (chargementEnCours) {
          <div class="loader"></div>
        } @else {
          <h3>Inscription</h3>
        }
      </button>
      <div class="ou-ligne">
        <div class="ligne"></div>
        <p>ou</p>
        <div class="ligne"></div>
      </div>
      <a [routerLink]="['/connexion']">se connecter</a>
      <button (click)="backStep()">Précédent</button>
  </form>
</div>
-->


