.inscription-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 247, 254);
  gap: 1rem;

  .progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .progress {
    height: 10px;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s ease;
  }

  .inscription-form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 1rem;

    p {
      font-size: 1rem;
      color: #555;
      text-align: center;
      margin-bottom: 1rem;
    }

    .input-container {
      position: relative;
      display: flex;
      align-items: center;
    }

    input {
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      width: 100%; /* Occupe toute la largeur */
      transition: border-color 0.3s ease;
    }

    input.invalid {
      border-color: red; /* Bordure rouge pour les champs invalides */
    }

    input.valid {
      border-color: green; /* Bordure verte pour les champs valides */
    }

    .status-indicator {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
    }

    .invalid-status {
      background-color: red; /* Fond rouge pour l'état invalide */
      color: white;
    }

    .valid-status {
      background-color: green; /* Fond vert pour l'état valide */
      color: white;
    }

    .status-indicator i {
      font-size: 12px;
    }

    .back-button {
      align-self: flex-start;
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #555;
      font-size: 1rem;
      transition: background-color 0.3s ease; /* Transition ajoutée pour l'effet de survol */
      
      &:hover {
        background-color: rgba(0, 0, 0, 0.1); /* Fond légèrement grisé au survol */
      }
    }

    .next-button {
      align-self: flex-end;
      padding: 0.5rem 1rem;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }
    }

    .error {
      color: red;
      font-size: 0.875rem;
      margin-top: -0.5rem;
    }
  }
}
