<div class="header">
  <div class="title">
    <img
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="logo"
      src="../../../assets/f35a8b925b7443e209a9.svg"
      alt=""
      style="width: 100px; height: auto;"
    />
  </div>
  @if(!isConnected) {
  <div class="buttons">
    @for (item of boutonsHeader; track $index) {
      <a
        class="button {{ item.isDark ? 'b-2' : 'b-1'}}"
        [routerLink]="item.url"
        (click)="item.name === 'Centre d\'aide' ? toggleHelpCenter() : null" 
      >{{ item.name }}</a>
      @if (item.name === 'Centre d\'aide' && showHelpCenter) { <!-- Rectangle d'aide conditionnel -->
        <div class="help-center">
          <p>Voici le texte d'aide pour le centre d'aide.</p>
        </div>
      }
      @if (item.name === 'Connexion') { <!-- Vérifiez si c'est le bouton de connexion -->
        <div style="opacity: 0.7; font-size: 12px; color: white; margin-top: 40px;margin-left: -110px">
          Gérer mes RDV
        </div>
      }
    }
  </div>
  } @else {
  <div (click)="goToProfile()" class="profile">
    <h3>{{ userLetters }}</h3>
  </div>
  }
</div>
