import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable } from 'rxjs';

@Injectable({
  providedIn: 'root',
})
export class AppointmentService {
  private apiUrl = '/api/appointments'; // URL du back-end

  constructor(private http: HttpClient) {}

  // Méthode pour créer un rendez-vous
  createAppointment(appointment: {
    doctorId: string;
    date: string;
    time: string;
    reason: string;
  }): Observable<any> {
    return this.http.post(this.apiUrl, appointment);
  }
}
