<div class="searchzone">
    <img src="/assets/ba6eda4b0cc3e6b3632d.webp" alt="" class="image"/>
    <h1>Vivez en meilleure santé</h1>
    <div class="search-bar">
      <div class="input-container">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Nom, spécialité, établissement..." />
      </div>
      <div class="input-container">
        <i class="fa fa-map-marker"></i>
        <input type="text" placeholder="Où ?" />
      </div>
      <button class="search-button">
        <i class="fa fa-paper-plane"></i> Rechercher
      </button>
    </div>
  </div>
  