<div class="searchzone">
  <img src="/assets/ba6eda4b0cc3e6b3632d.webp" alt="" class="image" />
  <h1>Vivez en meilleure santé</h1>
  <div class="search-bar">
    <div class="input-container">
      <i class="fa fa-search"></i>
      <input
        type="text"
        placeholder="spécialité..."
        [(ngModel)]="specialty"
      />
    </div>
    <div class="input-container">
      <i class="fa fa-map-marker"></i>
      <input type="text" placeholder="Où ?" [(ngModel)]="city" />
    </div>
    <button class="search-button" (click)="searchDoctors()">
      <i class="fa fa-paper-plane"></i> Rechercher
    </button>
  </div>
</div>

<<div *ngIf="doctors.length > 0" class="results">
  <ul class="doctor-list">
    <ng-container *ngFor="let doctor of doctors">
      <li
        class="doctor-card"
        *ngIf="
          (city === '' || doctor.city.toLowerCase().includes(city.toLowerCase())) &&
          (specialty === '' || doctor.specialty.toLowerCase().includes(specialty.toLowerCase()))
        "
      >
        <!-- Partie gauche : Informations médecin -->
        <div class="doctor-info">
          <img
            src="/assets/doctor-placeholder.jpg"
            alt="Photo du médecin"
            class="doctor-photo"
          />
          <div class="doctor-details">
            <h3 class="doctor-name">{{ doctor.firstName }} {{ doctor.lastName }}</h3>
            <p class="doctor-specialty">Médecin {{ doctor.specialty }}</p>
            <p class="doctor-address">{{ doctor.address }}</p>
            <p>{{ doctor.postalCode }} {{ doctor.city }}</p>
            <button
              class="appointment-button"
              [routerLink]="['/prendre-rendez-vous', doctor.id]"
            >
              Prendre rendez-vous
            </button>
          </div>
        </div>
        <!-- Partie droite : Message ou calendrier -->
        <div class="doctor-calendar">
          <p>Ce soignant réserve la prise de rendez-vous en ligne aux patients déjà suivis.</p>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
