<div (click)="logout()" class="profile-logout-container">
    <img src="../../assets/icones/logout.png" alt="logout" class="profile-logout">
</div> 

@if (user) {
    <h1>{{ user.firstName[0] }}{{ user.lastName[0] }}</h1>
}

@if (registrationCompleted) {
    <app-alert 
        [title]="signinSuccessMessage" 
        [message]="'We hope to greatly assist you in your productivity today.'">
    </app-alert>
}

<div class="wrapper">
    @if (sideNavOpen) {
        <div class="side-nav">
            <div class="side-nav-header">
                <div class="side-left-container">
                    <img src="../../assets/images/doctolib.jpg" alt="" class="site-icon">
                    <h3>Doctolib</h3>
                </div>
                <div class="side-icon-add-discussion">
                    <img src="../../assets/icones/plus.png" (click)="addDiscussion()" alt="" class="plus-icon">
                </div>
            </div>

            <div class="side-nav-discussions">
                @for (discussion of discussions; track $index) {
                    <div class="discussions" name="" id="">
                        <p>{{discussion.title}}</p>
                        <img src="../../assets/icones/carbage.png" alt="" class="delete-discussion" (click)="deleteDiscussion(discussion)">
                    </div>
                }
            </div>

            <div class="profile-container" (click)="profile()">
                <div class="profile-picture">
                    @if (user) {
                        <h1>{{ user.firstName[0] }}{{ user.lastName[0] }}</h1>
                    }
                </div>
                <div class="profile-name">
                    @if (user) {
                        <span>{{ user.firstName }} {{ user.lastName }}</span>
                    }
                </div>
                <div (click)="logout()" class="profile-logout-container">
                    <img src="../../assets/icones/logout.png" alt="logout" class="profile-logout">
                </div>                
            </div>
        </div>
    }

    <div class="chat-container">
        <div class="chat-header">
            <div (click)="sideNavOpen = !sideNavOpen" [ngClass]="{isActive: sideNavOpen}" class="burger-container">
                <img src="../../assets/icones/fleche-droite.png" alt="" class="arrow-icon">
            </div>
        </div>

        <div class="chat-body">

        </div>

        <div class="chat-input">
            <div class="input-wrapper">
                <div class="left">
                    <select name="" id="">
                        @for (model of models; track $index) {
                            <option value="{{model.name}}">{{ model.name }}</option>
                        }
                    </select>

                    <input type="text" placeholder="Type a message" />
                </div>

                <div class="send-container">
                    <img src="../../assets/icones/send.png" alt="" class="send-icon" />
                </div>
            </div>
        </div>
    </div>
</div>