.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;

    .side-nav {
        width: 30%;
        height: 98vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: #07070792 1px solid;
        padding: 1vh;
        background-color: #F4F4F5;

        .side-nav-discussions {
            width: 90%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            // background-color: #f5f5f5;
            overflow-y: auto;
            overflow-x: hidden;

            .discussions {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0.5rem;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
                &:hover {
                    background-color: rgb(141, 133, 133);
                }
                
                .delete-discussion {
                    height: 20px;
                    width: 20px;
                    display: flex;
                    justify-content: flex-end;
                    border: none;
                    border-radius: 25%;
                    margin-left: auto;

                    &:hover {
                        background-color: rgb(178, 170, 170);
                    }
                }
            }
        }

        .side-nav-header {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            padding: 1%;
            background-color: inherit;

            .side-left-container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;

                .site-icon {
                    width: 50px;
                    /* taille du logo */
                    height: auto;
                    /* pour garder les proportions */
                    border-radius: 50%;
                    /* Arrondit les bords du logo */
                }
            }

            .side-icon-add-discussion {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: rgb(225, 225, 225);
                }

                .plus-icon {
                    height: 50%;
                }
            }
        }
    }

    .chat-container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        background-color: #fcfcfc;


        .chat-header {
            position: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .burger-container {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.1s;

                &.isActive {
                    transform: rotate(180deg);
                }

                &:hover {
                    background-color: rgb(235, 235, 235);
                }

                .arrow-icon {
                    height: 50%;
                }
            }
        }

        .chat-body {
            width: 100%;
        }

        .chat-input {
            position: fixed;
            bottom: 2rem;
            width: 50%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 1rem;

            .input-wrapper {
                width: 90%;
                padding: 0.5rem;
                border: solid 1px #ccc;
                border-radius: 15px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;

                    input {
                        padding-inline-start: 1.5rem;
                        font-size: 1rem;
                        width: 100%;
                        border: none;
                        background-color: inherit;
                    }

                }

                .send-container {
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(235, 235, 235);
                    }

                    .send-icon {
                        height: 50%;
                    }
                }
            }

        }
    }
    .profile-container {
        display: flex;
        align-items: center;
        width: 91%;
        background-color: #FAFAFA;
        border: #E4E4E7 1px solid;
        border-radius: 15px;
        padding: 2%;
        cursor: pointer;
        transition: background-color 0.3s;
      
        .profile-name {
            font-size: 1rem;
            padding-left: 5%;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            width: 50%;
        }
      
        .profile-picture {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E4E4E7;
            width: 40px;
            height: 40px;
            border: #E4E4E7 1px solid;
            border-radius: 50%;
            font-weight: bold;
            font-size: 0.5rem;
        }

        .profile-logout-container {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 25%;
            margin-left: auto;

            .profile-logout {
                width: 50%;
                height: 50%;
                object-fit: contain;  /* Garantit que l'image conserve ses proportions sans déformation */
            }
        }

        .profile-logout-container:hover {
            background-color: #E4E4E7;
        }
    }
    
    .profile-container:hover {
        background-color: #F4F4F5;
    }
}