<!--
<div>
  <input
    type="text"
    [(ngModel)]="searchUser"
    placeholder="Rechercher par firstNname"
  />
  <button (click)="searchUser()">Rechercher</button>
</div>

<div *ngIf="searchedUser">
  <h3>Résultat de la recherche :</h3>
  <p>ID : {{ searchedUser.id }}</p>
  <p>Nom d'utilisateur : {{ searchedUser.firstName }}</p>
</div>

-->



<div class="searchzone">
  <img src="/assets/ba6eda4b0cc3e6b3632d.webp" alt="" class="image" />
  <h1>Vivez en meilleure santé</h1>
  <div class="search-bar">
    <div class="input-container">
      <i class="fa fa-search"></i>
      <input
        type="text"
        placeholder="spécialité..."
        [(ngModel)]="specialty"
      />
    </div>
    <div class="input-container">
      <i class="fa fa-map-marker"></i>
      <input type="text" placeholder="Où ?" [(ngModel)]="city" />
    </div>
    <button class="search-button" (click)="searchDoctors()">
      <i class="fa fa-paper-plane"></i> Rechercher
    </button>
  </div>
</div>

<div *ngIf="doctors.length > 0" class="results">
  <h2>Résultats :</h2>
  <ul>
    <ng-container *ngFor="let doctor of doctors">
      <li
        *ngIf="
          (city === '' || doctor.city.toLowerCase().includes(city.toLowerCase())) &&
          (specialty === '' ||
            doctor.specialty.toLowerCase().includes(specialty.toLowerCase()))
        "
      >
        <strong>{{ doctor.firstName }} {{ doctor.lastName }}</strong> -
        {{ doctor.specialty }} à {{ doctor.city }}

        <!-- Bouton pour rediriger vers la page "prendre-rendez-vous" -->
        <button
          class="appointment-button"
          [routerLink]="['/prendre-rendez-vous', doctor.id]"
        >
          Prendre rendez-vous
        </button>
      </li>
    </ng-container>
  </ul>
</div>

<div *ngIf="doctors.length === 0" class="no-results">
  <p>Aucun médecin trouvé pour votre recherche.</p>
</div>

