<div class="connexion-container">
    <!-- Formulaire de connexion -->
    <form [formGroup]="loginForm" class="connexion-form" (submit)="connexion()">

        @if (signupSuccess) {
        <div @slideFromTop class="warning-box success">
            <h4>Welcome {{ signupSuccess.name }}, you can now log in!</h4>
        </div>
        }
        <div *ngIf="signinError" @slideFromTop class="warning-box error">
            <h4>An error occurred...</h4>
            <h4>{{ signinError.message }}</h4>
        </div>

        <button class="back-button" (click)="backStep()">
            <i class="fa fa-arrow-left"></i>&nbsp;Étape précédente
          </button>

        <div *ngIf="stepInscription === 1">

            <div class="input-group">
                <h3 class="input-name">Email</h3>
                <input [ngClass]="{ invalid: isInvalidField('email') }" formControlName="email" type="email" />
            </div>

            <button (click)="nextStep()">Continuer</button>

        </div>

        <div *ngIf="stepInscription === 2">

            <div class="input-group">
                <h3 class="input-name">Password</h3>
                <input [ngClass]="{ invalid: isInvalidField('password') }" formControlName="password" type="password" />
            </div>

                    <!-- Bouton de connexion -->
        <button type="submit" class="btn-1">
            <div *ngIf="loading; else notLoading" class="loader"></div>
            <ng-template #notLoading>
                <h4 class="btn-1">Sign in with password</h4>
            </ng-template>
        </button>

        </div>

        <div class="progress-bar">
            <div class="progress" [style.width]="(stepInscription / 4) * 100 + '%'"></div>
          </div>

    </form>
</div>
