<div class="connexion_container">
  <p>connexion</p>
</div>

<!--
<div class="connexion-container">
  @if (succesInscription) {
  <div class="warning-box succes">
    <h3>Bienvenue {{ succesInscription.name }} !</h3>
    <p>Vous pouvez dès maintenant vous connecter.</p>
  </div>
  }
  <form [formGroup]="loginForm" class="connexion-form" (submit)="connexion()">
    <h3>Vivez en meilleure santé</h3>
    <input formControlName="email" placeholder="Nom, spécialité, établissement..." type="email" />
    <input
      formControlName="password"
      placeholder="Où"
      type="password"
    />
    <button type="submit" class="btn-1">Connexion</button>
  </form>
</div>

-->
