<div class="main-container">
  <!-- Section Profil -->
  <div class="profile-container">
    <h2>Identité</h2>
    <div class="profile-item">
      <span>Mon profil</span>
      <span>{{ user.firstName }} {{ user.lastName }}</span>
    </div>
  </div>

  <!-- Formulaire d'édition -->
  <h2>Modification du profil</h2>
  <form [formGroup]="profileForm" class="profile-form">
    <div class="general-input-group">
      <div class="div-general-input-group">
        <label for="firstName" class="input-name">Prénom</label>
        <input id="firstName" formControlName="firstName" type="text" class="profile-input" />
      </div>

      <div class="div-general-input-group">
        <label for="lastName" class="input-name">Nom</label>
        <input id="lastName" formControlName="lastName" type="text" class="profile-input" />
      </div>

      <div class="div-general-input-group">
        <label for="email" class="input-name">Email</label>
        <input id="email" formControlName="email" type="text" class="profile-input" />
      </div>
    </div>
  </form>

  <!-- Boutons d'actions -->
  <div class="action-buttons">
    <button (click)="backHome()" class="btn-secondary">Retour</button>
    <button (click)="updateProfile()" class="btn-primary">Mettre à jour le profil</button>
  </div>
</div>
